<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= p params %>
<%= p "hi"%>
<%= p resource.attributes %>
<%= p "hi"%>
<%= p resource_name %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, type: 'tel' %>
    <%#= f.label :displayed_phone_number %>
    <%#= f.text_field :displayed_phone_number, type: 'tel' %>
  </div>

  <div class="field">
    <label for="channel">Verification Method</label>
    <label><input type="radio" name="channel" value="sms" checked>SMS</label>
    <label><input type="radio" name="channel" value="voice">Call</label>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  
    <div class="field">
      <%= f.label :password %>
      <% unless resource.oauth_registered_only %>
        <i>(leave blank if you don't want to change it)</i><br />
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

<% unless resource.oauth_registered_only %>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<script>
  var input = document.querySelector("#user_displayed_phone_number");
  window.intlTelInput(input, {
    hiddenInput: "phone_number",
    preferredCountries: ["us", "gb", "co", "de"]
  });
</script>
