
<h3>Invite Co-Workers</h3>
<%= form_with url: '/invites', method: :post, scope: 'invite' do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.hidden_field :invitor_id, value: current_user.id %>
  <%= form.hidden_field :user_group_id, value: user_group.id %>
  <%= form.submit 'Invite' %>
<% end %>
