<% present @user_group do |user_group_presenter| %>
  <p id="notice"><%= notice %></p>

  <p>
    <h1>Workplace: <%= @user_group.name %></h1>
  </p>

  <!-- Host Details -->
  <p>
    <h3>Host Details:</h3>
    <ul>
      <li>Name: <%= @user_group.host.name %></li>
      <li>Email: <%= @user_group.host.email %></li>
    </ul>
  </p>

  <!-- Invite Section for Hosts -->
  <%= render partial: "#{user_group_presenter.user_type}_invite_section", locals: {user_group: @user_group} %>
  <%= render partial: "invite/#{user_group_presenter.user_type}_asking_invite", collection: @user_group.ask_invites, as: :invite %>

  <!--List Co-workers section -->
  <h3>Co-Workers in Group</h3>
  <ul>
    <%= render partial: "users/member", collection: @user_group.members, as: :member %>
  </ul>

  <!-- Posts section -->
  <h3>Posts</h3>
  <%= button_to 'Create Post', new_post_path, method: :get, params: { post: { user_group_id: @user_group.id } } %>
  <%= render @posts %>

  <!-- Host Actions -->
  <h3>Group Actions</h3>
  <%= render partial: "#{user_group_presenter.user_type}_actions" %>

  <!-- Worker Actions -->
  <%= user_group_presenter.group_actions %>

  <%= link_to 'Back', user_groups_path %>
<% end %>