<p id="notice"><%= notice %></p>

<p>
  <strong>Workplace:</strong>
  <%= @user_group.name %>
</p>

<p>
  <strong>Host Details:</strong>
  <ul>
    <li>Name: <%= @user_group.host.name %></li>
    <li>Email: <%= @user_group.host.email %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
