<h1>Post to #method to get group name</h1>

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :time_end %>
    <%= form.datetime_select :time_end %>
  </div>

  <div class="field">
  <%= form.hidden_field :user_id , value: current_user.id %>
  </div>

  <div class="field">
  <%= form.hidden_field :user_group_id , value: params['post']['user_group_id'] %>
  </div>

  <p>Some JS to say:</p>
  <ul>
    <li>Radio button for have shift or not</li>
    <li>This open ups nested(?) shift form if needed</li>
    <li>Radio buttons for 'Auction' or 'Fixed Price' Post</li>
    <li>This then opens up nested(?) Auction form if needed</li>
  </ul>

  <div>
    <h3>Shift details</h3>
    <%= f.fields_for :shift, Shift.new do |shift_attributes| %>
      <%= shift_attributes.label :time_start, "Start time:"%>
      <%= shift_attributes.datetime_select :time_start %>
      <%= shift_attributes.label :time_end, "Finish time:"%>
      <%= shift_attributes.datetime_select :time_end %>
      <%= shift_attributes.label :position, "Position:" %>
      <%= shift_attributes.text_field :position %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
